// FontAwesome's webfonts locations
// $fa-font-path: "/dist/assets/webfonts" !default;


// == Edit These Code - Don't Use in code == //

// Use for Primary Colors
$bird-flower:       #D6CE15;
$golden-tainoi:     #FEBD54;
$sweet-corn:        #FBE982;
$azureish:          #DEF2F1;
$atoll:             #2B7A78;
$golden-fizz:       #E5DE1B;
$tangerine-yellow:  #FFCE0A;


// Use For Headings
$tangara:           #17252A;
$black-russian:     #212226;
$dark-gunmetal:     #1D202A;
$nero:              #171717;

// Use for body sections
$color-nobel:       #999999;
$white-smoke:       #F6F6F6;
$white-smoke-2:     #EFEFEF;

// Brand Colors
$cinnabar:          #EA4335;
$color-facebook:    #3B5998;
$color-twitter:     #00ACED;
$color-google-plus: #DD4B39;

// +++++++++++++++++++++++++++++++ //

// Use these in code (h1 - h6)
$color-grey-blue: $tangara;

// Others
// $color-primary: $tangerine-yellow;
$color-primary: $atoll;
$color-primary-dark: $dark-gunmetal;
$color-grey-dark: $black-russian;
$color-grey-dark-2: $nero;
$color-grey-medium: $color-nobel;
$color-grey-light: $white-smoke;
$color-grey-light-2: $white-smoke-2;
$color-google-map-location-icon:  $cinnabar;


$color-white:		    #FFF;
$color-black:	  	  #000;
$color-facebook:	  #3C5A99;
$color-twitter:	  	#00acee;
$color-google-plus: #DD4B39;
$color-linkedIn:    #0077B5;
$color-youtube:     #c4302b;
$color-pinterest:   #c8232c;
$color-instagram:   #3f729b;