// FontAwesome's webfonts locations
// $fa-font-path: "/dist/assets/webfonts" !default;


// Edit These Code - Don't Use in code
// $moon-yellow:       #fccb08;
$bird-flower:       #D6CE15;
$tangara:           #17252A;

$black-russian:     #212226;
$cinnabar:          #EA4335;
$white-smoke:       #F4F4F4;
$white-smoke-2:     #EFEFEF;
$color-facebook:    #3B5998;
$color-twitter:     #00ACED;
$color-google-plus: #DD4B39;
$color-nobel:       #999999;


// Use these in code (h1 - h6)
$color-grey-blue: $tangara;

// Others
$color-primary: $bird-flower;
$color-grey-dark: $black-russian;
$color-grey-medium: $color-nobel;
$color-grey-light: $white-smoke;
$color-grey-light-2: $white-smoke-2;
$color-google-map-location-icon:  $cinnabar;


$color-white:		    #fff;
$color-black:	  	  #000;
$color-facebook:	  #3C5A99;
$color-twitter:	  	#00acee;
$color-google-plus: #DD4B39;
$color-linkedIn:    #0077B5;
$color-youtube:     #c4302b;
$color-pinterest:   #c8232c;