.preloader {
	// background-color: red;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 9999;

	&__status {
		// background-image: url('../../../../dist/images/preloader/preloader.gif');
		background-image: url('../../images/preloader/preloader.gif');
		background-repeat: no-repeat;
		width: 70px;
		height: 70px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}

