.btn-general {
	font-family: "Raleway", sans-serif;
	border-radius: 2.8rem;
	font-size: 1.3rem;
	text-transform: uppercase;
	margin: 0 .6rem;
	padding: 1.2rem 4.6rem;
	transition: all .5s;
}

.arrow-down {
	position: absolute;
	left: 50%;
	bottom: 2rem;
	color: $color-white;
	font-size: 3.2rem;
	width: 3.2rem;
	height: 3.2rem;
	// text-align: center;
	transform: translateX(-50%);
	// margin-left: -1.6rem;
	transition: al .4s ease;
}

.arrow-down:hover,
.arrow-down:focus {
	color: $color-primary;
}

.btn-custom-md {
	// background-color: $color-primary;
	background-color: $color-primary-dark;
	padding: .8;
	font-size: 1.2rem;
	font-weight: 300;
	text-transform: uppercase;
	border: 3px solid rgba($color-grey-dark, .1);
	border-radius: 10rem;
	line-height: 2.5rem;
	color: $color-white;
	text-shadow: 2px 1px 2px rgba(0, 0, 0, .1);
	box-shadow: 2px 1px 2px rgba(0, 0, 0, .1);
}
.btn-custom-md:hover {
	background-color: $atoll !important;
	color: $color-white;
	border-right: 3px solid $atoll;
}

.btn-modal-md {
	background-color: $color-primary-dark;
	padding: 1rem 1.4rem .5rem;
	font-size: 1.6rem;
	font-weight: 300;
	text-transform: uppercase;
	color: $color-white;
}
.btn-modal-md:hover {
	background-color: transparent;
	color: $color-white;
	border: 1px solid $color-white;
}



// Button Home Starts
.btn-home:link,
.btn-home:visited {
	color: $color-white;
	border: 1px solid $color-white;
	word-spacing: 4px;
	letter-spacing: 1px;
}

.btn-home:hover,
.btn-home:focus {
	color: $color-white;
	background-color: $color-primary;
	border: 1px solid $color-primary;
}
// Button Home Ends


// Button Yellow Starts
.btn-yellow {
	color: $color-white;
	border: 1px solid $color-primary;
	// border-radius: 2.8rem;
	background-color: $color-primary;
}

.btn-yellow:hover,
.btn-yellow:focus {
	color: $color-white;
	background-color: $color-grey-dark;
	border: 1px solid $color-grey-dark;
}
// Button Yellow Ends


// Button White Starts
.btn-white {
	color: $color-grey-dark;
	border: 1px solid $color-white;
	border-radius: 2.8rem;
	background-color: $color-white;
}

.btn-white:hover,
.btn-white:focus {
	color: $color-white;
	background-color: $color-grey-dark;
	border: 1px solid $color-grey-dark;
}
// Button White Ends


// back-to-top Button Starts
.btn-back-to-top {
	position: fixed;
	bottom: 2rem;
	right: 2rem;
	padding: .3rem 1.4rem;
	font-size: 2.2rem;
	display: none;
}

.btn-back-to-top:hover {
	border: solid 1px $color-primary;
	background: transparent;

	i {
		color: $color-primary;
	}
}
// back-to-top Button Ends