#contact-google {
  
  .col-md-6 {
    padding: 0;
    margin: 0;
  }

  .container {
    padding: 4rem 6rem;

    @media screen and (max-width: 480px) {
      padding: 3rem 0;
    }

    #contact-form {
      // background: $color-grey-light-2;
      padding: 2.5rem;
      box-shadow: 0 0 12px 0 rgba($color-black, .1);
      border-radius: 6px;

      form {
        padding: 1rem;
      }

      h4 {
        font-size: 2.4rem;
        font-weight: 500;
        text-transform: uppercase;
        color: $atoll;

        @media screen and (max-width: 480px) {
          text-align: center;
        }
      }

      p {
        margin: 2.5rem 0;

        @media screen and (max-width: 480px) {
          text-align: center;
          margin: 2rem auto;
        }
      }

      input.form-control {
        font-family: "Roboto", sans-serif;
        padding: 1.8rem 1.5rem;
        font-size: 1.2rem;
        line-height: 2.4rem;
        width: 90%;
        margin-left: 1rem;
        margin-right: 1rem;
      }

      textarea.form-control {
        font-family: "Roboto", sans-serif;
        min-height: 16.4rem;
        margin: 2rem 0;
        width: 100%;
      }
    }
  }
}