#footer-top {
background-color: rgba($color-grey-dark, .95);
  color: $color-grey-light-2;
  

  h2 {
    color: $color-grey-light-2;
    text-transform: uppercase;
    font-size: 2.3rem;
    font-weight: 200;
    letter-spacing: 2px;
    // margin-bottom: 3.5rem;
  }

  p i {
    margin-right: 2rem;
    padding-left: -2rem;
  }

  p {
    line-height: 1.4;
    letter-spacing: 1px;
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 100;
  }

  span {
    padding: 1rem;
    font-size: 1.2rem;
    font-weight: 200;
    margin-bottom: .5rem;
    background-color: transparent;
    border: 1px dashed $color-grey-light;
  }

  span:hover {
    color: $color-primary;
    cursor: pointer;
  }

  ul {
    padding: 0;
    margin: 0;
    list-style: none;

    li {
      margin-bottom: .3rem;
      margin-left: -1rem;
      letter-spacing: .1rem;
      font-size: 2rem;
    }
  }

  #top-footer-right {

    .img-fluid {
      margin-bottom: 1rem;
      padding-right: 1rem;
    }

    p.social-media i {
      text-align: center;
      margin: 0 auto 2.5rem auto;
      padding: 0;
      transition: all .3s ease;
      cursor: pointer;
    }

    i.fa-facebook-square:hover {color: $color-facebook;}
    i.fa-youtube-square:hover {color: $color-youtube;}
    i.fa-twitter-square:hover {color: $color-twitter;}
    i.fa-pinterest-square:hover {color: $color-pinterest;}

    h3 {
      color: $color-grey-light;
      font-weight: 300;
      letter-spacing: 2px;
      margin-bottom: 1rem;
      text-transform: uppercase;
    }

    em {
      text-transform: lowercase;
      color: $color-instagram;
    }
  }

  
}