#footer-top {
background-color: rgba($color-grey-dark, .95);
  color: $color-grey-light-2;
  

  h2 {
    color: $color-grey-light-2;
    text-transform: uppercase;
    font-size: 2.3rem;
    font-weight: 200;
    letter-spacing: 2px;
    margin-bottom: 3.5rem;
  }

  p i {
    margin-right: 2rem;
    padding-left: -2rem;
  }

  p {
    line-height: 1.4;
    letter-spacing: 1px;
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 200;
  }

  span {
    padding: 1rem;
    font-size: 1.2rem;
    font-weight: 200;
    margin-bottom: .5rem;
    background-color: transparent;
    border: 1px dashed $color-grey-light;
  }

  span:hover {
    color: $color-primary;
    cursor: pointer;
  }

  ul {
    padding: 0;
    margin: 0;
    list-style: none;

    li {
      margin-bottom: .3rem;
      letter-spacing: .1rem;
      font-size: 2rem;
    }
  }

  p.social-media i {
    margin: 2rem 0 0 0;
    padding: 0;
  }

  .img-fluid {
    margin-bottom: 1rem;
    padding-right: 1rem;
  }
}