#skillset {

  #skillset-wrapper {
    background-color: $color-grey-light;
    padding-top: 6rem;
  }

  .skill-group {
    background-color: $color-white;
    padding: 4rem 1.1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    border: 1px solid transparent;
    

    i {
      font-size: 4.2rem;
      margin: 0;
      transition: all 400ms linear;
    }

    h3 {
      margin: 2rem 0;
      transition: all 400ms linear;
    }

    hr.top {
      width: 4.5rem;
      height: 3px;
      background-color: $color-primary;
      margin: 1rem auto;
      border: none;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0 1.5rem;

      li {
        padding: 1rem 0 0 0;
        font-size: 1.6rem;
        margin-bottom: .5rem;
        // border-bottom: 1px solid rgba($color-grey-medium, .2);

        i {
          font-size: 3rem;
          margin: 0;
          padding: 0;
        }
      }

      li:before {
        content: "\f192";
        font-family: 'Font Awesome 5 Pro';
        font-size: 1rem;
        margin-right: .2rem;
        color: $color-grey-dark;
        transition: all 400ms linear;
      }

      li:hover::before {
        color: $color-primary;
        // color: $color-white;
      }

    }

    li:not(:last-child) {
      border-bottom: 1px solid rgba($color-grey-medium, .2);
    }

    .btn-custom-md {
      margin-top: 2.5rem;
      transition: all 400ms linear;
    }
  }

  .skill-group:hover {
    border: 1px solid $color-primary;
    // overflow: hidden;

    li:hover::before {
      color: $color-primary;
    }
    
  }

  .w-100 {
    margin: 3rem 0;
  }

  i:hover {
    color: $color-primary;
    transform: translateY(-10px);
  }

  h3:hover {
    color: $color-primary;
    transform: translateY(5px);
  }

  .btn-custom-md:hover {
    background-color: rgba($color-grey-dark, .9);
    color: $color-white;
  }

  #progress-bars-wrapper {

      background-color: $color-white;
      padding: 2rem 3rem;
    
    
  }

}